@model IEnumerable<BisnicityApp.Entites.DataPerson>

@{
    ViewData["Title"] = "DataPersonTranning";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DataPersonTranning</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Educationlevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Univircity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Educationlevel.levelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Univircity.UniName)
            </td>
            <td>
             
            </td>
        </tr>
}
    </tbody>
</table>
