@model IEnumerable<BisnicityApp.Entites.Datavocational>

@{
    ViewData["Title"] = "DataVocation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DataVocation</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareerPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yourstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareerPath.NameCareer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yourstatus.NameStatus)
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>
