@model IEnumerable<Bisnicity.Models.InfoDTO>
@using Infrastrucer.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> sigin;
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Service</h3>
                <!-- <p class="text-subtitle text-muted">For user to check they list</p> -->
            </div>

        </div>
    </div>
    <section class="section">
        <div class="card">

            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ServiceName</th>
                            <th>Paragraph</th>
                            <th>image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Acions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ServicesID)</td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Servicename)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paragraph)
                            </td>
                            <td>
                                <img src="~/Uploads/@item.Image"
                                     style="width:64px"
                                     asp-append-version="true" />


                            </td>
                            <td>
                                @Html.DisplayFor(model => item.sFirstname)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.sLastname)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Email)
                            </td>
                            @if (sigin.IsSignedIn(User) && User.IsInRole(BisnicityKey.Admin))
                            {
                                <td>
                                    <a href=@Url.Action("Editser", "AdminB", new { id = item.ServicesID }) class="badge bg-success edithover">Edit</a>
                                    <a href=@Url.Action("Deleteserv","AdminB", new { id = item.ServicesID }) class="badge bg-danger deletehover">Delete</a>
                                </td>
                            }
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
