@model Bisnicity.Models.ViewPersonViewModel
@{
    ViewData["Title"] = "ProfilePerson";
    Layout = "_Layout";

}

<style>
    #text {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #363636;
    }

    #text2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    #pass {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }

    #inpass {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #A09696;
    }

    #dot {
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 48px;
        /* identical to box height */


        color: #3A3A3A;
    }

    .list-group a:active {
        background-color: #1A9D92;
        color: white;
    }

    #listgrop {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #000000;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" style="border-radius: 1rem;" id="listgrop">
                <a class="list-group-item list-group-item-action active" style="background-color:#1A9D92 ; color: white;" aria-current="true">
                    <i style="color: white;" class="fa fa-user"></i>  My Account<i class="fas fa-user-alt"></i>
                </a>
                <a href=@Url.Action("TempOfPerson","Person") class="list-group-item list-group-item-action"><img src="~/images/profile/category.png" alt="" srcset="" width="20" height="20"> Show person Category </a>
                <a href=@Url.Action("ShowCompanyJob2","Person") class="list-group-item list-group-item-action"><img src="~/images/profile/jop.png" alt="" srcset="" width="20" height="20"> Show job</a>
                
            </div>
        </div>
        <div class="col-md-5">
            <h1 style="font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 26px;
                    color: #000000;">
                Profile & Password
            </h1>
            <br>
            <h1 style="font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    background-color: #1A9D92;
                    padding: 8px;
                    color: #FFFFFF;">
                My Account
            </h1>
            <p id="text">First Name  <span style="float: right;" id="text">Last Name</span> </p>
            <p id="text2">@Model.FirsName  <span style="float: right;" id="text2">@Model.LastName</span> </p>
            <hr>
            <p id="text">Mobile Number </p>
            <p id="text2">@Model.PhoneNo</p>
            <hr>
            <p id="text">Email</p>
            <p id="text2">@Model.Email</p>
            <hr>
            <p id="text">
                Age
            </p>
            <p id="text2">@Model.Age</p>
            <hr>
            <p id="text">Link LinkedIN </p>
            <p id="text2">@Model.Linklinkedin</p>
            <br>
            <a href=@Url.Action("EditProfilePerson","Person")> <i style="color: white; background-color: #1A9D92; padding: 10px; border-radius: 20px;" class="fa fa-edit"></i></a>
            <a href=@Url.Action("EditProfilePerson","Person")> <span style="color:#1A9D92 ;"> Information </span></a>


        </div>
        <div class="col-md-4">
            <h1 id="pass" style="margin-top: 15%;">Change Password</h1>
            <hr>
            <p id="inpass">Password </p>

            <p id="dot">
                .............<span style="float: right;">
                    <a href=@Url.Action("ChangePassword","Account") type="button" class="btn btn-block" style="background-color: #1A9D92;color: white;margin: 12px;">Edit</a>
                </span>
            </p>

        </div>
    </div>
</div>

<!--<section class="py-5 d-flex align-items-center" id="header">



    <div class="container">
        <div class="main-body">



            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="~/ProfilImage/@Model.pathimage" alt="Admin" class="rounded-circle" width="100" height="auto">
                                <div class="mt-3">
                                    <h4>@Model.FirsName @Model.LastName</h4>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-globe mr-2 icon-inline">
                                    </svg>  <i class="fab fa-linkedin"></i> LinkedIN
                                </h6>


                                <span class="text-secondary">@Model.Linklinkedin</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-github mr-2 icon-inline">

                                    </svg><i class="far fa-envelope"></i> Email
                                </h6>
                                <span class="text-secondary">@Model.Email</span>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.FirsName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.LastName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.PhoneNo
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0"> Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @Model.Age
                                </div>
                            </div>
                            <hr /><hr />

                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-success " href="#">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters-sm">

                        <div class="col-sm-12 mb-3">
                            <div class="card h-100">
                                <a href=@Url.Action("ChangePassword","Account") class="btn btn-outline-dark"><i class="fas fa-user-alt"></i> Change Password</a>
                                <a href=@Url.Action("ShowCompanyJob2","Person") class="btn btn-outline-dark"><i class="fas fa-archway"></i> Show Company</a>
                                <a href=@Url.Action("TempOfPerson","Person") class="btn btn-block btn-outline-dark"><i class="fas fa-archway"></i> Show Temp</a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>

</section>-->
<!-- Scripts -->
<!--<script src="~/js/bootstrap.min.js"></script>--><!-- Bootstrap framework -->
<!--<script src="~/js/purecounter.min.js"></script>--> <!-- Purecounter counter for statistics numbers -->
<!--<script src="~/js/swiper.min.js"></script>--><!-- Swiper for image and text sliders -->
<!--<script src="~/js/aos.js"></script>--><!-- AOS on Animation Scroll -->
<!--<script src="~/js/script.js"></script>--> <!-- Custom scripts -->
